.nav {
    background-color: $sidenav-background-color;
}

.navbar-fixed-top {
    border: 0;
}
@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 0 20px 20px;
        overflow-x: hidden;
        overflow-y: auto;
        /* Scrollable contents if viewport is shorter than content. */
        background-color: lighten($sidenav-background-color, 0%); //#f5f5f5;
        border-right: 1px solid #eee;
    }
}
/* Sidebar navigation */
.nav-sidebar {
    margin-right: -21px;
    /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
    margin-top: 20px;
}

.nav-sidebar > li > a {
    color: $brand-primary;
    padding-right: 20px;
    padding-left: 20px;
}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:focus,
.nav-sidebar > .active > a:hover {
    color: #fff;
    background-color: $brand-primary;
}

.nav > li > a:hover, .nav > li > a:focus {
  color: #fff;
  background: darken($brand-primary, 5%);
}

.sidebar .user-avatar {
    margin: 0 0;
    width: 150px;
}

.sidebar .brand {
    padding-top: 15px;
}
